@font-face {
  font-family: "KUNSTLER";
  src: url("./Asset/KUNSTLER.TTF") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0c4a5f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.container {
  max-width: 800px;

  background-color: #c1ced3;
  display: flex;
  margin: 20px;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
}
.sub-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;

  padding-top: 5px;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: black;
  text-decoration: none;
  margin-left: 6px;
  font-size: 0.45rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav ul li button {
  border: none;
  font-size: 0.45rem;
  padding: 0 8px;
  color: white;
  background-color: #cb780c;
  margin-left: 5px;
  cursor: pointer;
}
.logo-div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.logo-div img {
  width: 20px;
}
.logo-div div p {
  font-size: 9px;
  font-weight: 700;
}
.school-name #community {
  color: rgb(203, 120, 12);
}
.school-name #school {
  color: #0c4a5f;
  font-size: 10px;
}
.main-container {
  display: flex;
  border-top: 1px solid #0c4a5f;
  justify-content: space-between;
  gap: 1rem;
}
.image-container img {
  margin: 30px;
  width: 100%;

  max-width: 240px;
  border-radius: 50%;
  border: px solid #5ba5bb;

  box-shadow: 2px 0px 10px 6px #a4e1f4;
}

.school-info {
  width: 50%;
  display: flex;
}
.info {
  display: flex;

  flex-direction: column;
  margin: 30px;
  justify-content: space-evenly;
  width: 12rem;
  text-align: left;
}

.info h1 {
  font-family: Arial, sans-serif;
  color: #0c4a5f;
  font-size: 20px;
}
#School {
  color: #cb780c;
}
#now {
  color: #0c4a5f;
  font-family: "KUNSTLER";
  font-size: 24px;
}
.info p {
  font-size: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 30%;
  right: 1%;
}
.contact p {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  font-size: 9px;
}
.fa-brands {
  font-size: 7px;
  border: 1px solid #041318;
  border-radius: 50%;
  padding: 1px;
}
.contact hr {
  height: 24px;
  border: 0.2px solid #0c4a5f;
}
.button-container {
  display: flex;

  margin-top: 4px;
}
.button-container button {
  border: 1px solid #0c4a5f;
  cursor: pointer;

  background-color: #c1ced3;
  font-size: 6px;
  padding: 5px;
  margin-right: 10px;
  transition: 0.4s;
}
.button-container button:hover {
  background-color: #144e61;
  color: aliceblue;
}
@media screen and (max-width: 480px) {
  .info p {
    font-size: 12px;
  }
}
