@font-face {
  font-family: "KUNSTLER";
  src: url("./Asset/KUNSTLER.TTF") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0c4a5f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 90%;
  justify-content: space-between;
  align-self: center;
  background-color: #c1ced3;
  display: flex;
  margin: 20px;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
header h1 {
  font-size: 8vw;
  color: #0c4a5f;
  text-align: center;
}
.sub-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #0c4a5f;
}
.fa-bars {
  display: none;
}
nav .unordered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .list {
  display: none;
  position: absolute;
  max-height: 100vh;
  flex-direction: column;
  gap: px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0c4a5f;
  width: 50%;
  padding: 15%;
  z-index: 999;
  top: 6%;
  color: aliceblue;
  right: 0;
  text-align: left;
}
nav ul li {
  list-style: none;
  margin: 10px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  margin-left: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav ul li button {
  border: none;
  font-size: 0.45rem;
  padding: 0 8px;
  color: white;
  background-color: #cb780c;
  margin-left: 5px;
  cursor: pointer;
}
.logo-div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.logo-div img {
  width: 20px;
}
.logo-div div p {
  font-size: 10px;
  font-weight: 700;
  padding-top: 5px;
}
.school-name #community {
  color: rgb(203, 120, 12);
}
.school-name #school {
  color: #0c4a5f;
  font-size: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.image-container img {
  margin: 15% auto;
  width: 100%;
  max-width: 400px;
  max-height: 500px;

  border-radius: 50%;
  border: px solid #5ba5bb;

  box-shadow: 2px 0px 10px 6px #a4e1f4;
}

.school-info {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  justify-content: center;
  gap: 30px;
  text-align: left;
}

.info span {
  font-family: Arial, sans-serif;
  color: #0c4a5f;
  font-weight: bold;
  font-size: 35px;
}
main {
  margin: 10px auto;
}
#School {
  color: #cb780c;
}
main {
  text-align: center;
}
#now {
  color: #0c4a5f;
  font-family: "KUNSTLER";
  font-size: 28px;
}
.info p {
  font-size: 20px;
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid #041318;
  padding: 5px;
}
.contact p {
  font-size: 10px;
  font-weight: bold;
}
.fa-brands {
  font-size: 7px;
  border: 1px solid #041318;
  border-radius: 50%;
  padding: 1px;
}
.button-container {
  display: flex;

  margin-top: 4px;
}
.button-container button {
  border: 1px solid #0c4a5f;
  cursor: pointer;

  background-color: #c1ced3;
  font-size: 6px;
  padding: 5px;
  margin-right: 10px;
  transition: 0.4s;
}
nav.fa-bars {
  display: none;
}
.button-container button:hover {
  background-color: #144e61;
  color: aliceblue;
}

@media screen and (max-width: 600px) {
  .info p {
    font-size: 12px;
  }
  nav .unordered {
    display: none;
  }
  nav .list {
    display: flex;
  }
  .fa-bars {
    padding-top: 7px;
    display: block;
  }
  nav ul li a {
    font-size: 12px;
    color: aliceblue;
  }
}
